.Table {
	border: 1px inset green;
	background: ;
	margin-left: 25%;
	margin-top: 11px;
	width: 280px;
	text-align: center;
}

input {
	border: 1px solid yellow;
	border-radius: 3px;
	width: 40px;
	margin: 4px;
}

.textout {
	size: 30px;
	width: 250px;
}